# System files
*DS_Store
*Thumbs.db

# generated directories and files
*.map
/dist

# local env files
.env.local
.env.*.local

# Log files
logs/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node dependencies
*node_modules

# Editor directories and files
.idea
.settings
.vscode
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
